<!DOCTYPE html>
<html class="<%= pageClass %> page" lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= title %> /// BLK.NICHÈ</title>
	<link rel="stylesheet" type="text/css" href="/css/maincss.css">
	<link rel="stylesheet" type="text/css" href="/css/logo-cube.css">
	<script src="/js/libs/jquery.min.js"></script>
	<script src="/js/libs/bootstrap.min.js"></script>
	<script src="/js/Detect.js/detect.min.js"></script>
	<script src="/js/Detect.js/bDetect.js"></script>
	<script src="/js/mainjs.min.js"></script>
	<%_ if(errors) { _%>
	<script> $(function(){ $("#sign-up").click() }) </script>
	<%_ } _%>
	<%_ if(user) { _%>
	<style>
		nav .link {
			height: 20%;
		}

		@media (min-width: 768px) {
			nav .link {
				width: 19.5%
			}
		}
	</style>
	<%_ } _%>
</head>

<body>

<header>
	<div class="inner-header">
		<a><div class="col-xs-6" id="header-logo">
			<img src="/img/logo/logo 3.png"><p>Music Group</p>
		</div></a>
		
		<nav class="col-xs-6">
			<a><div id="menu"><p>Menu</p></div></a>
			<div class="link-group">
				<a><div class="col-sm-3 link" id="music"><p>Music</p></div></a>
				<a><div class="col-sm-3 link" id="videos"><p>Videos</p></div></a>
				<a><div class="col-sm-3 link" id="info"><p>Info</p></div></a>
				<%_ if (user) { _%>
				<a href="/users/profile"><div class="col-sm-3 link" id="profile"><p><i class="fa fa-user"></i></p></div></a>
				<a href="/users/logout"><div class="col-sm-3 link" id="logout"><p>Logout</p></div></a>
				<%_ } else { _%>
				<a><div class="col-sm-3 link" id="sign-up" data-toggle="modal" data-target="#registration"><p>Sign Up</p></div></a>
				<%_ } _%>
			</div>
		</nav>
	</div>
</header>

<div id="toTop"><p><span class="glyphicon glyphicon-chevron-up"></span></p></div>


<!-- including the modals -->
<% include modals/register %>

<% include modals/login %>

<% include modals/update %>


<div class="row" style="position: fixed; top: 50px; right: 20px; margin: 0; z-index: 1000">
		<%_ if (success_msg != '') { _%>
			<div class="alert alert-success"><%= success_msg %></div>
		<%_ } _%>

		<%_ if (error_msg != '') { _%>
			<div class="alert alert-danger"><%= error_msg %></div>
		<%_ } _%>

		<%_ if (error != '') { _%>
			<div class="alert alert-danger"><%= error %></div>
		<%_ } _%>
</div>




<!-- Main inner body of webpage -->
<div class="container-fluid">