<!DOCTYPE html>
<html class="blkniche <%= pageClass %> page" lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= title %> /// BLK.NICHÈ</title>
	<link rel="stylesheet" type="text/css" href="/css/hamburgers.min.css">
	<link rel="stylesheet" type="text/css" href="/css/logo-cube.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<script src="/js/libs/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/galleria/1.5.7/galleria.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/galleria/1.5.7/plugins/flickr/galleria.flickr.min.js"></script>
	<script src="/js/libs/bootstrap.min.js"></script>
	<script src="/js/libs/detect.min.js"></script>
	<script src="/js/libs/jquery.easing.1.3.js"></script>
	<script src="/js/detect-config.min.js"></script>
	<script src="/js/main.min.js"></script>
	<%_ if(pageClass == "profile") { _%>
	<script>
		$(() => {
			$(".uploadIcon").click(function() {
				$("#uploadIcon_form").slideToggle();
			});

			var action = $("#edit_blogpost form").attr("action");
			$(".footer-button.edit").click(function(){
				$("#edit_blogpost form").attr("action", action + this.id);
			});

			$(".footer-button.delete").click(function(){
				var c = confirm("Sure you want to delete?");
				var $post = $(this).closest(".post");
				if (c) {
					$.ajax({
						type: 'post',
						url: '/blog/post/delete', 
						contentType: 'application/json',
						data: JSON.stringify({id: this.id}),
						success: function(msg, status) {
							$post.fadeOut();
						},
						error: function(jqHXR, status, err) {
							console.log("ERROR: " + err);
							console.log("jqHXR: " + jqHXR);
							console.log("status: " + status);
						}
					});
				}
			});
		})
	</script>
	<%_ } _%>
</head>

<body>

<div id="toTop"><i class="fal fa-chevron-up"></i></div>

<%_ if (user && pageClass == "profile") { _%>

	<% include modals/update %>
	<% include modals/delete_account %>
	<% include modals/edit_blogpost %>

<%_ } else if (typeof token !== 'undefined') { _%>
	<% include modals/reset_password %>
	<script>
		$('#reset_password_form').modal({
			show: true,
			backdrop: 'static',
			keyboard: false
		});
	</script>
<%_ } else { _%>
	<% include modals/register %>
<%_ } _%>

<%_ if (success_msg.length || error_msg.length || error.length) { _%>
	<div class="row" style="position: fixed; top: 50px; right: 20px; margin: 0; z-index: 1000">
		<%_ if (success_msg.length) { _%>
			<div class="alert alert-success"><%= success_msg %></div>
		<%_ } _%>

		<%_ if (error_msg.length) { _%>
			<div class="alert alert-danger"><%= error_msg %></div>
		<%_ } _%>

		<%_ if (error.length) { _%>
			<div class="alert alert-danger"><%= error %></div>
		<%_ } _%>
	</div>
<%_ } _%>


<header>
	<div class="inner-header">
		<div class="menu-icon hamburger hamburger--squeeze" id="menu">
			<span class="hamburger-box"><span class="hamburger-inner"></span></span>
		</div>
		<nav>
			<div class="link-group row">
				<a class="link" id="music">Music</a>
				<a class="link" id="videos">Videos</a>
				<a class="link" id="info">Info</a>
				<%_ if (user) { _%>
				<a class="link" id="profile" href="/profile"><i class="fal fa-user"></i></a>
				<a class="link" id="logout" href="/users/logout">Logout</a>
				<%_ } else { _%>
				<a class="link" id="log-in" data-toggle="modal" data-target="#registration">Log In</a>
				<%_ } _%>
			</div>
		</nav>
	</div>
</header>

<!-- Main inner body of webpage -->
<main>
