<%_ include partials/header _%>

	<section style="padding: 100px 0">

		<%_ if (customers.length) { _%>
			<ul class="customerList" style="left: 0px; width: 100%; padding-top: 20px; padding-bottom: 20px; background-color: rgba(0, 0, 0, .5); color: white">
				<%_ if (user) { _%>
					<li>Name: <%= user.firstName + " " + user.lastName %></li>
					<li>Email: <%= user.email %></li>
					<li>Date of birth: <%= user.DOB.getDate() + "/" + (user.DOB.getMonth()+1) + "/" + user.DOB.getFullYear() %></li>
					<li>Nationality: <%= user.nationality %></li><br>
					<a class="btn btn-default updateCustomer" data-id="<%= user._id %>" role="button" data-toggle="modal" data-target="#update-form">UPDATE</a> 
					<a class="btn btn-danger deleteCustomer" data-id="<%= user._id %>">DELETE ACCOUNT</a>
				<%_ } _%>
			</ul>
		<%_ } _%>

		<div style="margin-top: 100px; width: 100%; padding: 20px; background-color: rgba(0, 0, 0, .5);">
			<form method="post" action="/mail/send">
				<input type="text" name="name" placeholder="Name"><br><br>
				<input type="email" name="email" placeholder="Email"><br><br>
				<input type="text" name="subject" placeholder="Subject"><br><br>
				<textarea name="message" placeholder="Message"></textarea><br><br>
				<input type="submit" name="submit" value="Send message">
			</form>
		</div>

	</section>

<%_ include partials/footer _%>